/* CSS geral */
body {
   /* background: rgb(8, 36, 129); */
   color: #21243d;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #21243d;
    text-decoration: none;
}

/* CSS especifico */

header ul li {
    text-align: center;
    padding: 10px 0 10px 0;
}